fieldset {
    margin: auto;
    width: 500px; 
}

legend {
    background-color: #F0F0F0; 
    color: #BBBBBB; 
    padding: 5px;
    border: 5px solid #DDDDDD; 
    font-weight: bold; 
}

#can {
    border: 2px solid blue; 
    margin: 20px;
    padding: 5px; 
    background: #089999; 
    width: 480px; 
    
}

label {
    padding: 5px;
}
  
#text-input { 
    -moz-appearance: none; 
    -webkit-appearance: none;
    height: 20px; 
    margin-left: 50px; 
    margin-down: 5px;  
}
  
#text-input:first-of-type{
    margin-left: 70px;
    margin-bottom: 10px;
}
